# logical operator
 AND
 OR
 NOT

In [1]:
a=10
b=20

In [2]:
((a>10) and (b>20))

False

In [3]:
'''
Truth table 
for AND
1 1 = 1
1 0 = 0
0 1 = 0
0 0  = 0
'''

'\nTruth table \nfor AND\n1 1 = 1\n1 0 = 0\n0 1 = 0\n0 0  = 0\n'

In [4]:
((a>4) and (b>6))

True

In [5]:
 print(True and True )

True

In [6]:
print(True and False)

False

In [7]:
 '''
 
 Truth table for 
 OR
 1 1 = 1 
 1 0 = 1
 0 1 = 1
 0 0 = 0
 '''

'\n\nTruth table for \nOR\n1 1 = 1 \n1 0 = 1\n0 1 = 1\n0 0 = 0\n'

In [8]:
print(True and True)

True

In [9]:
print((a>38) or (b>19))

True

In [10]:
p = True

In [11]:
not(p) # this will not of p

False

In [12]:
q = False

In [13]:
not(a)

False

In [14]:
bin(p)

'0b1'

In [15]:
bin(q)

'0b0'

# bitwise operator

In [16]:
'''
& = and
| = or
^ = xor
~ = negation
<< = left shit
>> = right shit
'''

'\n& = and\n| = or\n^ = xor\n~ = negation\n<< = left shit\n>> = right shit\n'

In [17]:
x = 10 
y = 4

In [18]:
bin(x)

'0b1010'

In [19]:
bin(y)

'0b100'

In [20]:
x &y# 1010
    #x0100
  #=0000

0

In [21]:
x |y  # 1110 in binary

14

In [22]:
x^y

14

In [23]:
'''
truth  table for Xor
1 0 = 0
1 1 = 1 
0 1 = 1
0 0 = 0'''

'\ntruth  table for Xor\n1 0 = 0\n1 1 = 1 \n0 1 = 1\n0 0 = 0'

In [24]:
 ~x

-11

In [25]:
~y

-5

In [26]:
t =-12

In [27]:
bin(t)

'-0b1100'

In [28]:
~t

11

In [29]:
lis = [3,4,5,6,]

In [30]:
3 in lis  # in is called membership operator

True

In [31]:
a<<1

20

In [32]:
a>>1

5

In [33]:
l = 20

In [34]:
l<<1  # this is actually multiple of 2

40

In [35]:
n= 5300
n<<1

10600

In [36]:
l>>1  # actually it will became half 1/2= l/2

10

In [37]:
n>>1

2650

In [38]:
y<<1

8

In [39]:
y>>1

2

In [40]:
x = 10
y = 4

In [41]:
x<<2 # this will comming out 2^2 = 4 that's why this will come 40 
# actually this function perform in bit wise like 0 and 1

40

In [42]:
x>>2 # this will multiply x/2^2=1/ 4

2

In [43]:
x<<3 # this will 2^3 = 8 and 10*8 = 80

80

In [44]:
x>>3  # this will  x/ 2^3 = 1

1

In [45]:
x<<5  # 32

320

In [46]:
x>>4 #  x/16= 0

0

In [47]:
x>9

True

 if 
else
 if else elif nested form

In [48]:
age = 19
if age>=18: # : is called indent and space called indentation
    print("you can drive car ") # four backspace is the space in indentation

you can drive car

In [49]:
if x>= 23:
    print("you are inside the if block")
else:
    print("you are pta nhi")

you are pta nhi

In [50]:
score = 76
if score>=90:
    print("excellent performance your grade is A+")
elif score>=80:
    print("excellent performance your grade is A")
elif score>=70:
    print("excellent performance your grade is B ")
else:
        print("excellent performance your grade is C")

excellent performance your grade is B

# question 1

In [51]:
time = int(input("Enter the input :"))
time
if time<0:
    print("invalid")
elif 0<=time<=5:
    print("Night")
elif 6<=time<=11:
    print("morning")
elif 12<=time<=17:
    print("afternoon")
elif 18<=time<=23:
    print("evening")

else:
    print("invalid")

Enter the input :6
morning

In [52]:
# find the largest number from two given number

In [53]:
num1 = 10

In [54]:
num2 = 20

In [55]:
num3 = 30

In [56]:
if (num1>=num2)and (num1>=num2):
    largest = num1
    print("largest number is "+largest)
elif(num2>=num3)and (num2>=num1):
    largest = num2
    print("the largest number is ",largest)
else:
    a=num3
    print("the largest number is ",a)

the largest number is  30

## Making a simple calculator

In [57]:
f = float(input("Enter the first number :"))
s = float(input("Enter the second number:"))
operator = input("Enter the operator \"(+,-,*,/)\":")

if operator == '+':
    print(f+s)
elif operator == '-':
    print(f-s)
elif operator == '/':
          print(f/s)
elif operator == '*':
    print(f*s)
else:
    print("invalid operation")

Enter the first number :3
Enter the second number:3
Enter the operator "(+,-,*,/)":3
invalid operation

In [58]:
# nested form of if else func

In [59]:
number =float(input("number"))
if (number>=0):
    if number == 0:
        print(" the number is 0")

    else:
        print("the required number is positive")
else:
     print("the required number is negative")

number3
the required number is positive

In [60]:
o=range(0,10)
o

range(0, 10)

In [61]:
bool(o)  # range(start,stop,step/jump)

True

In [62]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [64]:
list(range(3,10,1))

[3, 4, 5, 6, 7, 8, 9]

In [65]:
list(range(3,10,2))

[3, 5, 7, 9]

In [66]:
for i in range(4):
    print(i)

0
1
2
3

In [67]:
for r in range(3):
    print(r)

0
1
2

iterable is we have to loop like list ,tuple ,dict .... now lets us example

In [68]:
for x in ["a","r","y","a"]:
    print(x)

a
r
y
a

In [69]:
for s in "Lucknow":
    print(s)

L
u
c
k
n
o
w

In [70]:
for i in range(2,9,3):
    print(i)

2
5
8

In [71]:
country = ["india","uk","france","pakistan"]
for index in range(len(country)):
    print(country[index])

india
uk
france
pakistan

In [72]:
for ck in country:
    print(ck)

india
uk
france
pakistan

In [73]:
p = {"3","4","aryan","anvi","Riya"}
for this in p:
        print(this)

Riya
aryan
4
anvi
3

In [74]:
tup = ("diwali", "r","coagel","scala","numpy")
n = list(tup)
n
for anvi in range(len(n)):
    print(n[anvi])

diwali
r
coagel
scala
numpy

In [75]:
up= ("onion","mango","C#","CSS")
for x in range(len(up)):
    print(up[x])

onion
mango
C#
CSS

<!--  er ={"er","precatiion","have money","get a cup of key","for me"}
 for y in range(len(er)):
    print(er[y]) -->

set object is not subscriptable

In [76]:
dic1 = {"x1":1,"x2":2,"x3":3,"x4":4}
dic1.keys()

dict_keys(['x1', 'x2', 'x3', 'x4'])

In [77]:
dic1.values()

dict_values([1, 2, 3, 4])

In [78]:
for t in dic1:
    print(t,dic1[t])

x1 1
x2 2
x3 3
x4 4

In [79]:
 for y in dic1.values():
        print(y)

1
2
3
4

In [80]:
print("pw")
print("skils")
print("Aryan")
print("yadav")

pw
skils
Aryan
yadav

In [81]:
print("pw",end = ' ')
print("skils",end = ' ')
print("Aryan",end = ' ')
print("yadav",end=' ')

pw skils Aryan yadav

In [82]:
print("pw",end ='@' )
print("skils",end ='#')
print("Aryan",end ='@')
print("yadav",end ='#')

pw@skils#Aryan@yadav#

In [83]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [84]:
for i in range(15):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [85]:
for i in range(12):
    print(i,end='y  ')

0y  1y  2y  3y  4y  5y  6y  7y  8y  9y  10y  11y

In [86]:
for i in range(5):
    for j in range(i+1):
        print("*",end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [87]:
 for aryan in range(10):
        for yad in range(aryan+1):
            print("Aryan",end = ' ')
        print()

Aryan
Aryan Aryan
Aryan Aryan Aryan
Aryan Aryan Aryan Aryan
Aryan Aryan Aryan Aryan Aryan
Aryan Aryan Aryan Aryan Aryan Aryan
Aryan Aryan Aryan Aryan Aryan Aryan Aryan
Aryan Aryan Aryan Aryan Aryan Aryan Aryan Aryan
Aryan Aryan Aryan Aryan Aryan Aryan Aryan Aryan Aryan
Aryan Aryan Aryan Aryan Aryan Aryan Aryan Aryan Aryan Aryan

In [88]:
for x in range(3,8):
    for p in range(x+1):
        print("A",end = ' ')
    print()

A A A A
A A A A A
A A A A A A
A A A A A A A
A A A A A A A A

In [89]:
for x in range(3,16):
    for p in range(x+4):
        print("A",end = ' ')
    print()

A A A A A A A
A A A A A A A A
A A A A A A A A A
A A A A A A A A A A
A A A A A A A A A A A
A A A A A A A A A A A A
A A A A A A A A A A A A A
A A A A A A A A A A A A A A
A A A A A A A A A A A A A A A
A A A A A A A A A A A A A A A A
A A A A A A A A A A A A A A A A A
A A A A A A A A A A A A A A A A A A
A A A A A A A A A A A A A A A A A A A

In [90]:
for x in range(-3,16):
    for p in range(x+1):
        print("A",end = ' ')
    print()

A
A A
A A A
A A A A
A A A A A
A A A A A A
A A A A A A A
A A A A A A A A
A A A A A A A A A
A A A A A A A A A A
A A A A A A A A A A A
A A A A A A A A A A A A
A A A A A A A A A A A A A
A A A A A A A A A A A A A A
A A A A A A A A A A A A A A A
A A A A A A A A A A A A A A A A

In [91]:
for u in range(5,0,-1):
    for v in range(u,0,-1):
        print('$',end = ' ')
    print()

$ $ $ $ $
$ $ $ $
$ $ $
$ $
$

In [92]:
for z in range(17,0,-1):
    for y in range(z,0,-1):
        print('*',end = ' ')
    print()

* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [93]:
for u in range(15,0,-2):
    for v in range(u,0,-1):
        print('$',end = ' ')
    print()

$ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $
$ $ $
$

In [94]:
for u in range(15,0,-1):
    for v in range(u,0,-2):
        print('$',end = ' ')
    print()

$ $ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $
$ $ $ $ $
$ $ $ $
$ $ $ $
$ $ $
$ $ $
$ $
$ $
$
$

In [95]:
for u in range(15,0,-1):
    for v in range(u,0,-1):
        print('$',end = ' -')
    print()

$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -
$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -
$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -
$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -
$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -
$ -$ -$ -$ -$ -$ -$ -$ -$ -$ -
$ -$ -$ -$ -$ -$ -$ -$ -$ -
$ -$ -$ -$ -$ -$ -$ -$ -
$ -$ -$ -$ -$ -$ -$ -
$ -$ -$ -$ -$ -$ -
$ -$ -$ -$ -$ -
$ -$ -$ -$ -
$ -$ -$ -
$ -$ -
$ -

In [96]:
for i in range(13,0,-1):
    for j in range(i,0,-1):
        print('1',end =' ')
    print()

1 1 1 1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1
1 1 1 1 1 1 1
1 1 1 1 1 1
1 1 1 1 1
1 1 1 1
1 1 1
1 1
1

# print a table 1 to 5 by using for loop:

In [97]:
for p in range(1,6):
    for q in range(1,6):
        print(p*q,end=' ')
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [98]:
for m in range(1,4):
    for n in range(1,4):
        print(m-n,end = ' ')
    print()

0 -1 -2
1 0 -1
2 1 0

# while loop

In [99]:
count =1
while count<=5:
    print(count)
    count +=1
    # count = count+1

1
2
3
4
5

In [100]:
count =4
while count<=6:
    print(count)
    count +=1

4
5
6

In [101]:
text ="p"
while text!="quit":
    text = str(input("Enter the input:"))
    print(text)

Enter the input:

Enter the input:3
3
Enter the input:3
3
Enter the input:3
3
Enter the input:

Enter the input:h
h
Enter the input:quit
quit

In [102]:
t=" "
while t!= "stop":
    t = input("")
    print(t)

stop
stop

'''if you know how many time will iterate go with the loop
if you dont know how many time will iterate go with while loop'''

In [ ]:
3