In [1]:
def hy(a):
    print("hy",a)
hy("aryan")

hy aryan

 Accept a string as input. 
    Your task is to determine if the input string is a valid password or not. For a string to be a valid password, it must satisfy
    all the conditions givne below:
     (1) It should have aat least 8 and at most 32 characters 
     (2) It should start with an uppercase or lowercase letter 
     (3) It should not have any of these characters: /\:=""
     (4) It could have any character that is not mentioned is not mentioned in the list of charcter to be avoided 
     (pontds 3 and )
     (5) Output True if the string forms a valid password and FAlse otherwise

In [4]:
def validpassword(pswd: str):
    if 8 <= len(pswd) <=32 and  pswd[0].isalpha() and all(char not in pswd for char in [" ","'","=",'\\']):
        return True 
    else:
        return False

In [6]:
validpassword('ARyanyadavc')

True

In [15]:
def greet():
    s = 3
    t= 38
    print(s,t) # this is called as local scope 
print(s,t)    # it is the global scope that's why it not work 
greet()   # becoz of this it's not excuted

NameError: name 's' is not defined

In [16]:
greet()

3 38

In [17]:
x = "awasome" # this is the called the global scope 
def myfunc():
    x = " fanatastic"   # this is called as local  scope
    print("python is"+x)
myfunc()
print(x)

python is fanatastic
awasome

In [20]:
s = 23
def add(): 
    t = 35
    print("the global variable", s)
    print("the local variable", t )
    x = s+t
    print(x)
add()

the global variable 23
the local variable 35
58

Types of the funciton 
 1. user defined function
2. built funciton

Python funciton arguments 
1 postional arguments 
2. default arguments 
3. keywords arguments 
4. variable arguments

In [53]:
def add(x,y):
    sum = x+y
    print("sum = ", sum)

In [55]:
add(x=4,y=5)  # this is called keyword arguments

sum =  9

In [23]:
add(4,66)  # there 4,66 is called positional arguments

sum =  70

In [25]:
def name(name):
    print("My name is = ",name)

In [29]:
name("aryan yadav") # here we have seen that aryan yadav is calles as postional argument

My name is =  aryan yadav

In [51]:
def add_number(a=4,b=96): #  this data is called default argument
    p = a+b
    print("add : ", p)

In [44]:
add_number()

add :  100

In [46]:
add_number(26,5)

add :  31

### keywords arguments

In [59]:
def display_info(first_name,last_name):
    print("first name", first_name)
    print("last name", last_name)

In [60]:
display_info(first_name = "pw", last_name= "skills")  # this is keyword arguments

first name pw
last name skills

### variable arguments

* give the variables how much we are wants to print on 
used in the function called variable function 
* provide n numbers of arguments

In [104]:
 # let us example of variable function : 
def add_num(*numbers):
    result = 0
    for i in numbers:a
        result = result+i
    print("sum",result)

In [105]:
add_num()

sum 0

In [107]:
add_num(1.3,4,3)

sum 8.3

In [116]:
def a(*p): # (*) provides n numbers of the arguments 
    sx = 0
    for i in p:
        sx = sx+i
    print(sx)
#(*) is called the variable arguments

In [117]:
a()

0

In [118]:
a(3,6,3845,3,432,2354,33634,46,4,3423,6,46,4,64,64,6,9,5,3,)

43957

In [123]:
def simpl(*x):
    print(x)
simpl(3,5,3,653,56,3)

(3, 5, 3, 653, 56, 3)

In [124]:
type(simpl)

function

In [125]:
type(simpl(3,5,3,653,56,3))

(3, 5, 3, 653, 56, 3)

NoneType

(**) in function are called as function arguments

In [5]:
def intro(**data):
    print("type of the data",type(data))
    for i in data.items():
        print(i)

In [6]:
intro(name="aryan",home_name = "yadav",pursuing = "btech")

type of the data <class 'dict'>
('name', 'aryan')
('home_name', 'yadav')
('pursuing', 'btech')

In [147]:
 def simple(**x): # ** is kwargs = keyword argument or key or values
        print(x)

In [148]:
simple(s = 'n',age = 3, id = 394)

{'s': 'n', 'age': 3, 'id': 394}

In [26]:
def aryan(*s):   # * is args called arguments
    print(s)

In [27]:
aryan(3,35,"arya","prin",'wi')

(3, 35, 'arya', 'prin', 'wi')

# Lambda function

lambda function is telling as anonymous finction 
lanbda argument(s):expression  # syntax 
like 
greet = lambda : print("hello world")
greet()

In [29]:
# Lambda function 
x = lambda: print("hello world")

In [32]:
x()

hello world

In [33]:
lambda a,b: a+b    # arguments a,b and a+b is expression

In [36]:
x = lambda a,b : a+b

In [38]:
x(3,5)

8

In [41]:
multiply_num = lambda p,q : p*q
multiply_num(345,5)

1725

In [45]:
y,z = (input("Enter the two numbers :")).split()
square = lambda y,z: (int(y)**2, int(z)**2)
print(square(y,z))

Enter the two numbers :9 5
(81, 25)

In [47]:
def even_odd(n):
    if n%2==0:
        return True
    else:
        return False
even_odd(45)

False

In [53]:
# write that code in the lambda function 
even_odd = lambda n:"True" if n%2== 0 else "False"

In [55]:
even_odd(98)

'True'

Write a lambda function that accepts 2 arguments and return the greater amongst them

In [57]:
greater_one = lambda a,b: a if a>b else b
greater_one(3,64)

64

In [59]:
# lambda function to find sum of numbers 
sum_of = lambda a,b,c : (a+b+c)
sum_of(3,354,65)

422

In [1]:
# shorting giving in ascending order of the dictionary value
products =[ {"name":"product1","price": 34},
            {"name":"product2","price": 340},
            {"name":"product3","price": 334},
            {"name":"product4","price": 20},
            {"name":"product5","price": 90},
            {"name":"product6","price": 40}]
    
sorted_products_prize = sorted(products,key = lambda x:x["price"])
sorted_products_prize  # here in the list form

[{'name': 'product4', 'price': 20},
 {'name': 'product1', 'price': 34},
 {'name': 'product6', 'price': 40},
 {'name': 'product5', 'price': 90},
 {'name': 'product3', 'price': 334},
 {'name': 'product2', 'price': 340}]

In [67]:
for i in sorted_products_prize:
    print(i)            # but  here not be in list form

{'name': 'products', 'price': 20}
{'name': 'products', 'price': 34}
{'name': 'products', 'price': 40}
{'name': 'products', 'price': 90}
{'name': 'products', 'price': 334}
{'name': 'products', 'price': 340}

In [111]:
# shorting giving in ascending order of the dictionary value
products =[ {"name": 85,"price": 34},
            {"name": 78,"price": 340},
            {"name": 80,"price": 334},
            {"name": 67,"price": 20},
            {"name": 26,"price": 90},
            {"name": 89,"price": 40}]
p = sorted(products, key  = lambda x:x["name"])
p

[{'name': 26, 'price': 90},
 {'name': 67, 'price': 20},
 {'name': 78, 'price': 340},
 {'name': 80, 'price': 334},
 {'name': 85, 'price': 34},
 {'name': 89, 'price': 40}]

In [110]:
for i in p:
    print(i)

na
price
ne
me

In [106]:
 x["name"]

TypeError: 'function' object is not subscriptable

 '''write a Lambda expression that accepts a charater as argument and return true
if it is volwel other false 
a e i o u 
aryan
a a '''

In [137]:
vowels = ['a','e','i','o','u','A','E','I','O','U']
stri = input("Enter a string : ")
x = [stri[i] for i in range(len(stri)) if stri[i]  in vowels]
x

Enter a string : yiud

['i', 'u']

In [132]:
# there are func
# fiter 
# map
# reduce

# built in funtion

In [113]:
abs()   classmethod()    filter() id()  max()  property()  all() compile() float()

input()  memoryview()    range()    sum()  any()  complex()   format()   int()  min()   repr() 
 
super()  ascii()   delattr()   issubclass()  object()  reversed()   tuple()   bin()   dict() 

getattr()  issubclass()  object()  isinstance()  round()  type()  bool()  dir()  globals()  iter()

oct()  set() vars() bytearray() divmod() hasattr()   len()  open()  setattr()  zip()  bytes() 

enumerate()  hash()  list() ord()  slice()  __import__()  callable()  eval()  help()  locals()

pow()  sorted()  chr()  hex()  map()  print()  staticmethod()

SyntaxError: invalid syntax (3759030857.py, line 1)

In [114]:
s = 45
id(s)

140711084202152

In [115]:
l = [3,53,25,5]
max(l)

53

In [117]:
m = [3,32.3,34,74, 77.45,77.5]
max(m)

77.5

In [122]:
language=['java','python','javascript','ruby']
enumerate_prime= enumerate(language)
list(enumerate_prime)

[(0, 'java'), (1, 'python'), (2, 'javascript'), (3, 'ruby')]

In [4]:
p = ['jaca','India','mobile','am','ram']
# x = enumerate(p,2)
# list(x)
list(enumerate(p,2))

[(2, 'jaca'), (3, 'India'), (4, 'mobile'), (5, 'am'), (6, 'ram')]

In [5]:
list(enumerate(p,-3))

[(-3, 'jaca'), (-2, 'India'), (-1, 'mobile'), (0, 'am'), (1, 'ram')]

## List comprehension

[        output           |        collection |    conditionn ]
  make transform           | for i in range()   |    if s%2==0
  like + , - any number   |or s i in list      | if u \\s
    or * or /

In [7]:
lis = [2,4,5,6,7,88,4,3,2,4,6,3]

In [8]:
s = [n for n in lis]

In [9]:
s

[2, 4, 5, 6, 7, 88, 4, 3, 2, 4, 6, 3]

In [12]:
a = [i+1 for i in lis]
a

[3, 5, 6, 7, 8, 89, 5, 4, 3, 5, 7, 4]

In [20]:
m = [2,4,5,6,7,88,4,3,2,4,6,3]
[i for i in m if i>4]

[5, 6, 7, 88, 6]

In [39]:
lis = [2,4,5,6,7,88,4,3,2,4,6,3]
lst2 = []
for i in lis:
    if i>2:
        lst2.append(i)
lst2.sort()
lst2

[3, 3, 4, 4, 4, 5, 6, 6, 7, 88]

In [40]:
lis = [2,4,5,6,7,88,4,3,2,4,6,3]
m = []
for x in lis:
    if x%2 == 0:
        m.append(x)
m.sort()
m

[2, 2, 4, 4, 4, 6, 6, 88]

In [131]:
lis = [2,4,5,6,7,88,4,3,2,4,6,3]
p = [i if i>3 else "less than 3 ." for i in lis]  # output | condition | collection
print(p,end=" ")

['less than 3 .', 4, 5, 6, 7, 88, 4, 'less than 3 .', 'less than 3 .', 4, 6, 'less than 3 .']

In [113]:
p.remove("less than 3 .")
p

[4, 5, 6, 7, 88, 4, 4, 6]

In [121]:
lis = [2,4,5,6,7,88,4,3,2,4,6,3]
o = []
for i in lis:
    if i < 8:
        o.append(i)
    else:
        o.append("less than 8 .")
o

[2, 4, 5, 6, 7, 'less than 8 .', 4, 3, 2, 4, 6, 3]

In [124]:
lis = [2,4,5,6,7,88,4,3,2,4,6,3]
l = ['two' if i%2==0 else 'three' if i%3 == 0 else ' not divivble 2 and 3 ' for i in lis]
print(l,end = " ")

['two', 'two', ' not divivble 2 and 3 ', 'two', ' not divivble 2 and 3 ', 'two', 'two', 'three', 'two', 'two', 'two', 'three']

In [128]:
lis = [2,4,5,6,7,88,4,3,2,4,6,3]
k = []
for i in lis:
    if i%2 ==0:
        k.append('two')
    elif i %3==0:
        k.append('three')
    else:
        k.append('not divisble by 2 and 3 ')
print(k,end = ' ')

['two', 'two', 'not divisble by 2 and 3 ', 'two', 'not divisble by 2 and 3 ', 'two', 'two', 'three', 'two', 'two', 'two', 'three']