# "Today lecture no- 4 loop\map\\filter \ while\\recurrsion

In [5]:
def test():
    print("this is my revision fucition ")

In [10]:
test()

this is my revision fucition

In [11]:
test()+ "SUDH"  # concatination will not allowd 
     # because test() this is nonetype not a type of string

this is my revision fucition

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [12]:
 def test_2():
    print(1+5)
test_2()

6

In [15]:
test_2()+10 # this is also a none type.||

6

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [14]:
def tes_3():
    return 1+2
tes_3()

3

return  return the data as it is 
like in the form of int string list float
not a none type

In [22]:
tes_3() + 10

13

In [30]:
type(tes_3())

int

In [15]:
def test():
    return 2,"aryan",True,3.34,[2,434,54,35,3,"sugh"]
test()

(2, 'aryan', True, 3.34, [2, 434, 54, 35, 3, 'sugh'])

In [16]:
type(test())

tuple

In [17]:
p,q,r,s,t = test()

In [18]:
p

2

In [19]:
q

'aryan'

In [20]:
r

True

In [21]:
s

3.34

In [22]:
t

[2, 434, 54, 35, 3, 'sugh']

primitive data type == like add , subsract, multiply,dvision , concationation

In [23]:
def test5(x):
    return x

In [48]:
test5("ice")

'ice'

In [51]:
test5([3,5,35,35,])

[3, 5, 35, 35]

In [107]:
def test6(p,q):
    return p,q
test6("sudh",["aryan","prince",[[[[[[8]]]]]],[65,92,{"sharma",0,8}]])

('sudh', ['aryan', 'prince', [[[[[[8]]]]]], [65, 92, {0, 8, 'sharma'}]])

In [32]:
def test8(a:int,b:int):
    return a/b
test8(89,9)

9.88888888888889

In [111]:
def test9(*args):  # * is called steric 
    return args
test9(2,2,2,2,2,2,2)

(2, 2, 2, 2, 2, 2, 2)

In [144]:
def test10(**kwargs):
    return kwargs
test10(a = 3, b= 4, p ="m")

{'a': 3, 'b': 4, 'p': 'm'}

In [147]:
def test10(**kwargs):
    return kwargs.items()
test10(a = 3, b= 4, p ="m")

dict_items([('a', 3), ('b', 4), ('p', 'm')])

In [152]:
def test11(a,b= 23,c = 45): # b and c are the default argument
    return a,b,c            # a is non - default argument
test11(10)

(10, 23, 45)

In [153]:
def est12(b, a= 34,c=3):
    return  a,b,c
est12(10)

(34, 10, 3)

A function without name or anomoulous are called as lambda function

In [157]:
x = lambda a,b:a+b
x(387,113)

500

In [159]:
def check_the_number(N):
    if N%2==0:
        return "the number is even"
    else:
        return "the given number is not a even number it's a odd number ."
check_the_number(38)

'the number is even'

In [164]:
m = lambda a:  "the  number is even " if a%2==0 else "the number is odd"
m(3)

'the number is odd'

In [166]:
lists = [4,56,67,787,5,42,2,1,1,0.34,0.3,0.334,0.12]
min_value = lambda x: min(x)
min_value(lists)

0.12

In [171]:
divide = lambda s,r: s/r
divide(45,5)

9.0

In [172]:
upper_string = lambda x : x.upper()
upper_string("sudhanshu")

'SUDHANSHU'

In [526]:
lists = [4,56,67,7,5,42,2,1,1,0.34,0.3,0.334 , 294829, 2487.12]
def sum_odd(b):
    listss = []
    for i in b:
        if i%2!=0:
            listss.append(i)
    return sum(listss)

In [534]:
sum_odd(lists)

297398.094

In [535]:
sum([X for X in lists if X%2!=0])

297398.094

In [536]:
x = lambda som:sum([X for X in lists if X%2!=0])
x(lists)

297398.094

factorial of the number

In [34]:
def factorial(a):
    if a == 0:
        return 1
    else: 
        x = 1
        for i in range(1,a+1):
            x = x*i
#             print(x)
#       print(x)
        return x
factorial(6)

720

In [39]:
def factorial_num(x):
    if x==0:
        return 1
    if x<0:
        return "invalid data"
    else:
        return x*factorial_num(x-1)
y = int(input("Enter the input : "))
factorial_num(y)

Enter the input : 8

40320

In [785]:
# find factorial with recurrsion with lambda function 
factorial_using_lambda = lambda x: 1 if (x== 0 or  x<0 )  else x*factorial_using_lambda(x-1)
k = int(input())
factorial_using_lambda(k)

2

2

In [542]:
a = "thfgj76df"
import sys
sys.getsizeof(a)

58

In [545]:
L = [3,4,5,6,6,76,]
list1 = []
for i in L:
    list1.append(i)

In [547]:
list1

[3, 4, 5, 6, 6, 76]

In [583]:
def add_num(a):
    lq = []
    for i in a:
        lq.append(i+10)
    return lq

In [584]:
add_num([3,53,6,76,])

[13, 63, 16, 86]

# Map

In [827]:
l = [2,34,5,6,1,7,8,]
list(map(lambda x: x+40     ,l        ))
               # argument | function

[42, 74, 45, 46, 41, 47, 48]

In [828]:
k = [9,8,7,6,5,4,3,2,1]
m = tuple(map(lambda i: i*2,k))
m

(18, 16, 14, 12, 10, 8, 6, 4, 2)

In [829]:
type(m)

tuple

In [830]:
list(map(lambda p:p/2,m))

[9.0, 8.0, 7.0, 6.0, 5.0, 4.0, 3.0, 2.0, 1.0]

In [831]:
def test34_(c):
    return c+2

In [832]:
list(map(test34_,l))

[4, 36, 7, 8, 3, 9, 10]

In [833]:
lists = ["aryan","lake","people","watch","forloop"]
l2 = []
for i in lists:
    l2.append(len(i))

In [834]:
l2

[5, 4, 6, 5, 7]

In [835]:
len("aryan")

5

In [836]:
len("environment")

11

In [837]:
def lenght_of_the_string(lists):
    l2 = []
    for i in lists:
        l2.append(len(i))
    return l2

In [838]:
lenght_of_the_string(lists)

[5, 4, 6, 5, 7]

In [839]:
list(map(lambda s:len(s),lists))

[5, 4, 6, 5, 7]

In [840]:
def length_string(x):
    return len(x)

In [841]:
list(map(length_string , lists))

[5, 4, 6, 5, 7]

In [842]:
set(map(len,lists))

{4, 5, 6, 7}

In [843]:
lists

['aryan', 'lake', 'people', 'watch', 'forloop']

In [844]:
# rervese the list element
list(map(lambda s : s[::-1],lists))

['nayra', 'ekal', 'elpoep', 'hctaw', 'poolrof']

# Reduce

In [45]:
from functools import reduce

In [46]:
# add the number from user input

inp = (input("Enter the user input : ")).split()
reduce(lambda a,b:int(a)+int(b),inp)

Enter the user input : 45 78

123

In [47]:
multi = [2,3,4,3,2,5,3]
reduce(lambda i,j:i*j,multi)

2160

In [48]:
#Find maximum without using inbuilt fucition max() in the program
lists = [1,2,4 ,6,756]
reduce(lambda a,b:a if a>b else b,lists)

756

In [817]:
# finding factorial using the using method 
fact = int(input("enter the user input : "))
reduce(lambda x,y:x*y ,range(1,fact+1))

enter the user input : 6

720

In [818]:
# find factorial with reduce without lambda
i = int(input())
def test(x,y):
    return x*y
reduce(test,range(1,i+1))

7

5040

In [822]:
#  print the multiplication of the even no. from the list
now = [2,3,5,6,5,4,3,6,7,4,221,6,7,7,3,2,1]
[i for i in now if i%2==0]

[2, 6, 4, 6, 4, 6, 2]

In [825]:
#  print the multiplication of the even no. from the list
now = [2,3,5,6,5,4,3,6,7,4,221,6,7,7,3,2,1]
reduce(lambda a,b:a*b,[even for even in now if even%2==0])
# this is filter out and print the output that's you wants

13824

# filter

In [849]:
# filter out the even no. form the given data 
l = [ 2,4,5,5,6,76,7,87,8,766,6,8,8,7,76,64,312,1,6,7,8,9,8]
set(filter(lambda a:a%2==0,l))

{2, 4, 6, 8, 64, 76, 312, 766}

In [853]:
list(filter(lambda a:a%2==0,l)) # filter work as a boolean

[2, 4, 6, 76, 8, 766, 6, 8, 8, 76, 64, 312, 6, 8, 8]

In [858]:
u = "wIIner Winner "
list(filter(lambda i:i.islower(),u))

['w', 'n', 'e', 'r', 'i', 'n', 'n', 'e', 'r']

In [863]:
# only those data length is leser than four
x = ["pink","orange","fun" , "god","cake","toffee","sync","etc"]
list(filter(lambda i:len(i)<4,x))

['fun', 'god', 'etc']

In [51]:
# filter out those data which is starting with the p
k=["prince","amausi","pizza","sin","xos","pubg"]
list(filter(lambda a:a[0]=="p",k))

['prince', 'pizza', 'pubg']

# Reccurrsion 
Calling a function again and again said as recurrsion

#### fabonicci series

In [912]:
# 0 1 1 2 3 5 8 13 21 34 55 89 144 
def reccursion_fabonicci(n):
    if n<=1:
        return n
    if n>1:
        return reccursion_fabonicci(n-1)+reccursion_fabonicci(n-2)
fab = int(input("Enter the number that's you wants to fab : "))
reccursion_fabonicci(fab)

Enter the number that's you wants to fab : 6

8

In [52]:
def recurrsion(i):
    if i <=1:
        return i
    else:
        return i+recurrsion(i-1)
x = int(input("Enter the number : "))
recurrsion(x)

Enter the number : 6

21

In [48]:
# find the prime numberes 
def check_prime(n):
    if n<=1:
        return False
    elif n<=3:
        return True
    elif n%2==0 or n%3 ==0:
        return False
    i = 5
    while i*i <= n:
        if i%n==0 or n%(i+2) == 0 :
            return False
        i +=6
    return True

prime = [x for x in range(1,24) if check_prime(x)]

In [49]:
print(prime,end = " ")

[2, 3, 5, 7, 11, 13, 17, 19, 23]